%h2 Контакты
%table.table.table-bordered
  %tbody
    %tr
      %td
        = t('contacts.maillist')
      %td
        %a{href: 'https://groups.google.com/d/forum/hackerspace-minsk', target: '_blank', rel: 'nofollow'}
          groups.google.com/d/forum/hackerspace-minsk
    %tr
      %td
        = t('contacts.irc')
      %td
        %a{href: 'irc://irc.bynets.org/#hackerspace', target: '_blank', rel: 'nofollow'}
          irc.bynets.org/#hackerspace
    %tr
      %td
        = t('contacts.telegram')
      %td
        %a{href: 'https://telegram.me/joinchat/Bxa3CT7ai59igvC1dP95Aw', target: '_blank', rel: 'nofollow'}
          Hackerspace@Minsk
    %tr
      %td
        = t('contacts.fb')
      %td
        %a{href: 'https://facebook.com/hs.minsk', target: '_blank', rel: 'nofollow'}
          facebook.com/hs.minsk
    %tr
      %td
        = t('contacts.vk')
      %td
        %a{href: 'https://vk.com/hackerspace_minsk', target: '_blank', rel: 'nofollow'}
          vk.com/hackerspace_minsk

%h1 Основная локация
%p.lead
  = t('index.how_to_find_content_text').html_safe
%center
  %img{src: image_path('/images/enterance.jpg'), width: '50%'}

%h2 Карта
%center
  %iframe{width:'800', height:'600', src: 'https://www.openstreetmap.org/export/embed.html?marker=53.9430552430846%2C27.597586512565613&bbox=27.59439468383789%2C53.9418443482044%2C27.600778341293335%2C53.944266102816115', style: 'border: 1px black solid; align: center;'}
  
%h1 Филиал MalinoHS
%p.lead
  = t('index.how_to_find_malinohs_content_text').html_safe
%center
  %img{src: image_path('/images/malinohs_entrance.jpg'), width: '50%'}
  
%h2 Карта
%center
  %iframe{width:'800', height:'600', src: 'https://www.openstreetmap.org/export/embed.html?marker=53.87286%2C27.47797&bbox=27.47297%2C53.87286%2C27.48397%2C53.87536', style: 'border: 1px black solid; align: center;'}
%br
%br
%br
.row
  .col-md-6.col-md-offset-3
    .well.well-sm
      %h4 Реквизиты
      %p
        ПО "Мастерская инновационно-технического творчества" ОО БОИР, УНП 102386174
      %p
        Адрес: 220116, г. Минск, ул. Алибегова, 24, пом. 153
      %p
        Расчётный счет BY50BLBB30150102386174001001 в отделении №537 ОАО «Белинвестбанк» г. Минск, BIC BLBBBY2X
      %p
        Телефоны: +375 29 8 647 647, +375 29 2 476 476
      %p
        Email:
        %a{href: 'mailto:info@hackerspace.by'}
          info@hackerspace.by
      %p= link_to 'Инструкция по оплате взносов', howtopay_path
