%h2 Контакты
%table.table.table-bordered
  %tbody
    %tr
      %td
        = t('contacts.maillist')
      %td
        %a{href: 'https://groups.google.com/d/forum/hackerspace-minsk', target: '_blank'}
          groups.google.com/d/forum/hackerspace-minsk
    %tr
      %td
        = t('contacts.irc')
      %td
        %a{href: 'irc://irc.bynets.org/#hackerspace', target: '_blank'}
          irc.bynets.org/#hackerspace
    %tr
      %td
        = t('contacts.fb')
      %td
        %a{href: 'https://facebook.com/hs.minsk', target: '_blank'}
          facebook.com/hs.minsk
    %tr
      %td
        = t('contacts.vk')
      %td
        %a{href: 'https://vk.com/hackerspace_minsk', target: '_blank'}
          vk.com/hackerspace_minsk

%h2 Как нас найти
%p.lead
  = t('index.how_to_find_content_text').html_safe
%center
  %img{src: image_path('/images/enterance.jpg'), width: '50%'}

%h2 Карта
%center
  %iframe{width:'800', height:'600', src: 'http://www.openstreetmap.org/export/embed.html?marker=53.9430552430846%2C27.597586512565613&bbox=27.59439468383789%2C53.9418443482044%2C27.600778341293335%2C53.944266102816115', style: 'border: 1px black solid; align: center;'}
%br
%br
%br