%h1 Как платить взносы и оставлять пожертвования
%p
  Взносы, ЕРИП, номер участника, кабинет и все-все-все

%p
  %center
    = image_tag image_path('/images/money.jpeg'), class: 'center-block', alt: 'money'
%p
  Взносы участников уплачиваются через систему
  %a{:href => "https://raschet.by/rezultaty-poiska/?q=4411891"} “Расчёт” (ЕРИП)
  (интернет-банк, инфокиоски, банкоматы):
  %br/
  (ЕРИП)  > Благотворительность, общественные объединения > Научные, Технические, Профессиональные > Мастерская ИТТ -hackerspace.by.
%p
  В разделе "Членские взносы" введите ваш номер участника, убедитесь, что появившиеся имя и фамилия ваши. Высветится рекомендованная сумма, но её можно изменить.
%p
  Если вы не участник, всегда можно оставить пожертвование, выбрав "Благотворительный взнос". Номер проекта 0 или любой из
  = succeed "." do
    %a{:href => "/projects"} списка проектов
%p
  Чтобы узнать свой номер участника, зайдите в
  = succeed "." do
    %a{:href => "https://hackerspace.by/users/sign_in"} личный кабинет
  = succeed "," do
    %a{:href => "https://hackerspace.by/hackers"} Хакерам → Список участников
%p
  Если имя или email неверны, или вы не знаете, как войти на сайт, напишите на
  = succeed "." do
    %a{:href => "mailto:info@hackerspace.by"} info@hackerspace.by
