.container.marketing
  .header
    %h1
      =t 'index.hello_world'
      .small
        %p
          = t('index.hello_world_description') + (@hs_open_status == Hspace::OPENED ? ' ' + t("hsopen.#{@hs_open_status}") : '')
        - if @hs_open_status == Hspace::OPENED && @hs_present_people.any?
          %p
            = 'Сейчас в хакерспейсе: ' + @hs_present_people.join(', ')

  .greenhs.bs-callout.bs-callout-info.alert.alert-info.alert-dismissible{role: 'alert'}
    %button.close{'data-dismiss': 'alert', 'aria-label': 'Close'}
      %span{'aria-hidden': 'true'} &times;
    %p.lead Каждый четверг у нас вечер открытых дверей. Начало в 19:00. Окончание — после 22:00.
    %p В хакерспейсе участники занимаются своими делами, но рады всем желающим что-нибудь узнать, сломать, починить, собрать и поболтать.

  .malinohs.bs-callout.bs-callout-info.alert.alert-info.alert-dismissible{role: 'alert'}
    %button.close{'data-dismiss': 'alert', 'aria-label': 'Close'}
      %span{'aria-hidden': 'true'} &times;
    %p.lead Каждый вторник у нас в МалиновомХС вечер открытых дверей. Начало в 19:00. Окончание — после 22:00.
    %p <a href="https://hackerspace.by/projects/32" target=\"_blank\"> Проект малинового ХС</a>. Там вы сможете найти расписание и больше новостей касательного нового пространства ) 



  .row.featurette
    = render partial: 'main/news'
  .row.featurette
    .col-md-4
      %h2.featurette-heading
        = t 'index.what_is_it'
        %span.text-muted
          = t 'index.what_is_it_muted'
      %p.lead
        =t('index.what_is_it_content').html_safe
    .col-md-4
      = image_tag image_path('tele-robot.jpeg'), class: 'featurette-image img-responsive'
    .col-md-4
      = image_tag image_path('tolik_mask.jpg'), class: 'featurette-image img-responsive'
  %hr.featurette-divider
    .row.featurette
      .col-md-4
        =image_tag image_path('34983380_397380480743459_8393848152158896128_n.jpg'), class: 'featurette-image img-responsive'
      .col-md-4
        =image_tag image_path('39991017_586240851794144_334697966055055332_n.jpg'), class: 'featurette-image img-responsive'
      .col-md-4
        %h2.featurette-heading
          = t 'index.what_we_do'
          %span.text-muted
            = t 'index.what_we_do_muted'
        %p.lead
          = t('index.what_we_do_content').html_safe
    %hr.featurette-divider
    %script{src: 'https://cdn.lightwidget.com/widgets/lightwidget.js'}
    %iframe.lightwidget-widget{allowtransparency: 'true', scrolling: 'no', src: '//lightwidget.com/widgets/2aa6440e69d75e389dd3e7d40f344f17.html', style: 'width:100%;border:0;overflow:hidden;'}
    %hr.featurette-divider
      .row.featurette
        .col-md-5
          %h2.featurette-heading
            = t 'index.how_to_join'
            %span.text-muted
              = t 'index.how_to_join_muted'
          %p.lead
            = t('index.how_to_join_content').html_safe
        .col-md-7
          =image_tag image_path('18121107_802382353254131_1686034606898319436_o-small.jpg'), class: 'featurette-image img-responsive'
      %hr.featurette-divider
        .row.featurette
          .col-md-5
            =image_tag image_path('19986028_1914939925414624_7965107293853319168_n.jpg'), class: 'featurette-image img-responsive'
          .col-md-7
            %h2.featurette-heading
              = t 'index.what_we_have'
              %span.text-muted
                = t 'index.what_we_have_muted'
            %p.lead
              = t('index.what_we_have_content').html_safe
        %hr.featurette-divider
          .row.featurette
            .col-md-5
              %h2.featurette-heading#contacts
                = t 'index.how_to_find'
                %span.text-muted
                  = t 'index.how_to_find_muted'
              %p.lead
                = t('index.how_to_find_content_text').html_safe
              %p.lead
                ="И не забудьте почитать #{link_to('правила', rules_path)}.".html_safe
            .col-md-7
              =image_tag image_path('10295174_308861299272908_5853105603752271032_o-square.jpg'), class: 'featurette-image img-responsive'
%hr
