.container.marketing
  .header
    %h1
      =t 'index.hello_world'
      .small
        -header = t('index.hello_world_description')
        -header << ' ' + t("hsopen.#{@hs_open_status}") if @hs_open_status == Hspace::OPENED
        =header

  -if Time.now < Time.parse('2015-Mar-18')
    %a{href: 'https://groups.google.com/forum/?hl=ru#!topic/hackerspace-minsk/ewaHEoU0MhU', target: '_blank'}
      = image_tag(image_path('/images/lut.jpg'), width: '100%')
    %hr

  -if Time.now < Time.parse('2015-Mar-27')
    %a{href: 'https://groups.google.com/forum/?hl=ru#!topic/hackerspace-minsk/0pguJj8pQvw', target: '_blank'}
      = image_tag(image_path('/images/3dprint.jpg'), width: '100%')

  .bs-callout.bs-callout-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
    %p.notice
      %h2 Каждый четверг у нас вечер открытых дверей.
      %p.lead Начало в 19:00. Окончание — после 22:00.
      %p Предполагается микро-хакатон в непринуждённой обстановке и лёгкая экскурсия для неофитов.

  .row.featurette
    .col-md-7
      %h2.featurette-heading
        = t 'index.what_is_it'
        %span.text-muted
          = t 'index.what_is_it_muted'
      %p.lead
        =t('index.what_is_it_content').html_safe
    .col-md-5
      = image_tag image_path('/images/f.jpg'), class: 'featurette-image img-responsive'
  %hr.featurette-divider
    .row.featurette
      .col-md-5
        =image_tag image_path('/images/h.jpg'), class: 'featurette-image img-responsive'
      .col-md-7
        %h2.featurette-heading
          = t 'index.what_we_do'
          %span.text-muted
            = t 'index.what_we_do_muted'
        %p.lead
          = t('index.what_we_do_content').html_safe
    %hr.featurette-divider
      .row.featurette
        .col-md-7
          %h2.featurette-heading
            = t 'index.how_to_join'
            %span.text-muted
              = t 'index.how_to_join_muted'
          %p.lead
            = t('index.how_to_join_content').html_safe
        .col-md-5
          =image_tag image_path('/images/a.jpg'), class: 'featurette-image img-responsive'
      %hr.featurette-divider
        .row.featurette
          .col-md-5
            =image_tag image_path('/images/b.jpg'), class: 'featurette-image img-responsive'
          .col-md-7
            %h2.featurette-heading
              = t 'index.what_we_have'
              %span.text-muted
                = t 'index.what_we_have_muted'
            %p.lead
              = t('index.what_we_have_content').html_safe
        %hr.featurette-divider
          .row.featurette
            .col-md-7
              %h2.featurette-heading#contacts
                = t 'index.how_to_find'
                %span.text-muted
                  = t 'index.how_to_find_muted'
              %p.lead
                = t('index.how_to_find_content').html_safe
                ="И не забудьте почитать #{link_to('правила', rules_path)}.".html_safe
            .col-md-5
              =image_tag image_path('/images/d.jpg'), class: 'featurette-image img-responsive'
%hr
