.container.marketing
  .header
    %h1
      =t 'index.hello_world'
      .small
        =t 'index.hello_world_description'
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        = t 'index.what_is_it'
        %span.text-muted
          = t 'index.what_is_it_muted'
      %p.lead
        =t('index.what_is_it_content').html_safe
    .col-md-5
      =image_tag 'f.jpg', class: 'featurette-image img-responsive'
  %hr.featurette-divider
    .row.featurette
      .col-md-5
        =image_tag 'h.jpg', class: 'featurette-image img-responsive'
      .col-md-7
        %h2.featurette-heading
          = t 'index.what_we_do'
          %span.text-muted
            = t 'index.what_we_do_muted'
        %p.lead
          = t 'index.what_we_do_content'
    %hr.featurette-divider
      .row.featurette
        .col-md-7
          %h2.featurette-heading
            = t 'index.how_to_join'
            %span.text-muted
              = t 'index.how_to_join_muted'
          %p.lead
            = t('index.how_to_join_content').html_safe
        .col-md-5
          =image_tag 'a.jpg', class: 'featurette-image img-responsive'
      %hr.featurette-divider
        .row.featurette
          .col-md-5
            =image_tag 'b.jpg', class: 'featurette-image img-responsive'
          .col-md-7
            %h2.featurette-heading
              = t 'index.what_we_have'
              %span.text-muted
                = t 'index.what_we_have_muted'
            %p.lead
              = t 'index.what_we_have_content'
        %hr.featurette-divider
          .row.featurette
            .col-md-7
              %h2.featurette-heading
                = t 'index.how_to_find'
                %span.text-muted
                  = t 'index.how_to_find_muted'
              %p.lead
                = t('index.how_to_find_content').html_safe
                И не забудьте почитать
                =link_to 'правила', main_rules_path
            .col-md-5
              =image_tag 'd.jpg', class: 'featurette-image img-responsive'
%hr