.header
  %h2
    Hello, world!
    .small.text-muted
      %p
        Это сайт Минского Хакерспейса
        = (@hs_open_status == Hspace::OPENED ? ' ' + t("hsopen.#{@hs_open_status}") : '')
      - if @hs_open_status == Hspace::OPENED && @hs_present_people.any?
        %p
          = 'Сейчас в хакерспейсе: ' + @hs_present_people.join(', ')

.greenhs.bs-callout.bs-callout-info.alert.alert-info.alert-dismissible{role: 'alert'}
  %button.btn-close{'data-bs-dismiss': 'alert', 'aria-label': 'Close'}
  %p
    Каждый четверг в
    %a{href: "/contacts#green"}Зелёном
    хакерспейсе у нас вечер открытых дверей. Начало в 19:00. Окончание — после 22:00.
  %p.small В хакерспейсе участники занимаются своими делами, но рады всем желающим что-нибудь узнать, сломать, починить, собрать и поболтать.

.row
  = render partial: 'main/news'

.row.mb-5
  .col-md-4
    %h3
      Что это такое?
      %span.text-muted Мастерская.
    %p
      Хакерспейс (hackerspace) — мастерская-клуб, где энтузиасты могут заниматься любимым делом,
      будь то радиолюбительство, конструирование, программирование, моделирование или даже художественное творчество.
      В мире существует <a href="https://hackerspaces.org/" target="_blank">множество</a> хакерспейсов различной
      направленности, но, прежде всего, это — клубы технического творчества.
  .col-md-4
    = image_tag image_path('/images/tele-robot.jpeg'), class: 'img-fluid'
  .col-md-4
    = image_tag image_path('/images/tolik_mask.jpg'), class: 'img-fluid'

.row.mb-5
  .col-md-4
    =image_tag image_path('/images/34983380_397380480743459_8393848152158896128_n.jpg'), class: 'img-fluid'
  .col-md-4
    =image_tag image_path('/images/39991017_586240851794144_334697966055055332_n.jpg'), class: 'img-fluid'
  .col-md-4
    %h2
      Чем мы здесь занимаемся?
      %span.text-muted
        Мы творим
    %p
      Мы паяем, программируем, вырезаем из металла, пластика и дерева.
      Мы делаем роботов, дронов и строим станки ЧПУ. Мы собираем 3D-принтеры. Мы делаем печатные платы.
      Мы делимся опытом и совершаем ошибки. Придумываем новые
      %a{href: "/projects"}проекты
      и улучшаем старые.

.row.mb-5
  .col-md-5
    %h2
      Как к нам присоединиться?
      %span.text-muted
        Сколько это стоит?
    %p
      Мы не оказываем услуг, мы не магазин. Мы &mdash; сообщество людей, объединённых общими интересами. Поэтому, чтобы попасть к нам, надо хотеть (а лучше и уметь) что-либо создавать своими руками. Разовые посещения &mdash; свободные (время согласовывайте). <br/>
      Если же вы <a href="/procedure">хотите</a> стать частью сообщества: творить вместе с нами на постоянной основе, иметь свой ключ
      и пользоваться нашими печеньками (а также помочь в оплате аренды, коммунальных услуг, покупке расходников и новых
      классных инструментов), то мы попросим вас финансово поучаствовать в общем деле.
      В основном участники вносят 70 рублей в месяц, но есть и другие <a href="/tariffs">тарифы</a>. <br/>
      Вы также можете помочь проекту, написав о нем в своем блоге, сайте или просто оставив ссылку на стене в соцсети.
      Если у вас есть что-то, чем вы можете поделиться — запасы расходников, инструменты или просто знания — мы будем
      вам очень благодарны.
  .col-md-7
    =image_tag image_path('/images/18121107_802382353254131_1686034606898319436_o-small.jpg'), class: 'img-fluid'

.row.mb-5
  .col-md-5
    =image_tag image_path('/images/19986028_1914939925414624_7965107293853319168_n.jpg'), class: 'img-fluid'
  .col-md-7
    %h2
      Что у нас есть?
      %span.text-muted
        Всякое
    %p
      Прежде всего, у нас есть прекрасный обжитой подвальчик на 50 квадратных метров для тихой работы
      с отдельным входом, прекрасной шумоизоляцией, санузлом и круглосуточным доступом. У нас есть дополнительно около 300
      квадратных метров площади для творчества и экспериментов. У нас есть всё, что нужно, для создания новых проектов
      &mdash; паяльные станции, цифровой осциллограф, логический анализатор, 3D-принтер, ЧПУ фрезер, токарный и
      шлифовальный станки, лазерный резак, есть набор электрического и ручного инструмента, запас радиокомпонентов,
      двигателей и материалов.
      Если чего-то вдруг не хватит, в паре кварталов от нас есть магазин радиодеталей «Белчип». А ещё у нас есть люди,
      у которых всегда можно попросить совета и помощи.

.row.mb-5
  .col-md-5
    %h2#contacts
      Как нас найти?
      %span.text-muted
        Приходите
    %p
      Зёленый хакерспейс: ул. Беды, 45
      (<a target="_blank" href="https://www.mapillary.com/map/im/98iGzWktd9tuLs-agQWy2w/photo">карта</a>).
      Вход со двора. Наш подвальчик – между третьим и четвертым подъездами.
    %p
      Малинового хакерспейса, который был на Алибегова, временно не существует, но надеемся открыть его снова в лучшие времена.
    %p
      Важно! У нас нет вахтёра,
      а, значит, попасть к нам можно только вместе с кем-нибудь или в день открытых дверей. Поэтому, прежде чем приходить
      в первый раз, уточните время в <a href="https://groups.google.com/d/forum/hackerspace-minsk">рассылке</a>,
      группе <a href="https://www.facebook.com/hs.minsk">Facebook</a>,
      <a href="https://vk.com/hackerspace_minsk">Вконтакте</a>.
    %p
      Но проще (и быстрее) всего написать в чат Telegram <a href="https://telegram.me/joinchat/Bxa3CT7ai59igvC1dP95Aw">Зелёного</a>.
    %p
      ="И не забудьте почитать #{link_to('правила', rules_path)}.".html_safe
  .col-md-7
    =image_tag image_path('/images/10295174_308861299272908_5853105603752271032_o-square.jpg'), class: 'img-fluid'
