.container.marketing
  .jumbotron
    %h1
      =t 'index.hello_world', default: 'Hello World'
    %p
      =t 'index.hello_world_description', default: 'Description'
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        = t 'index.what_is_it', default: 'Что это такое?'
        %span.text-muted
          = t 'index.what_is_it_muted', default: 'It will blow your mind.'
      %p.lead
        =t 'index.what_is_it_content', default: 'It will blow your mind.'
    .col-md-5
      %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "https://scontent-a-vie.xx.fbcdn.net/hphotos-ash3/t1.0-9/1457652_248205555338483_1951265567_n.png"}
  %hr.featurette-divider
    .row.featurette
      .col-md-5
        %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "https://scontent-a-vie.xx.fbcdn.net/hphotos-ash3/t1.0-9/1457652_248205555338483_1951265567_n.png"}
      .col-md-7
        %h2.featurette-heading
          = t 'index.what_we_do', default: 'Чем мы здесь занимаемся?'
          %span.text-muted
            = t 'index.what_we_do_muted', default: 'Чем мы здесь занимаемся?'
        %p.lead
          = t 'index.what_we_do_content', default: 'Чем мы здесь занимаемся?'
    %hr.featurette-divider
      .row.featurette
        .col-md-7
          %h2.featurette-heading
            = t 'index.how_to_join', default: 'Сколько это стоит?'
            %span.text-muted
              = t 'index.how_to_join_muted', default: 'Как к нам присоединиться?'
          %p.lead
            = t 'index.how_to_join_content', default: 'Как к нам присоединиться?'
        .col-md-5
          %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "https://scontent-a-vie.xx.fbcdn.net/hphotos-ash3/t1.0-9/1457652_248205555338483_1951265567_n.png"}
      %hr.featurette-divider
