%h2
  Изменить профиль #{current_user.email}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, class: 'form-control'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Ожидание подтверждения регистрации: #{resource.unconfirmed_email}
  .form-group
    = f.label :password, 'Новый пароль'
    %i (оставьте пустым, если не хотите менять)
    %br/
    = f.password_field :password, autocomplete: "off", class: 'form-control'
  .form-group
    = f.label :password_confirmation, 'Еще раз'
    %br/
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
  .form-group
    = f.label :current_password, 'Текущий пароль'
    %i (нужен для подтверждения изменений)
    %br/
    = f.password_field :current_password, autocomplete: "off", class: 'form-control'
  .form-group
    = f.submit "Обновить", class: 'btn btn-primary'

%h3 Удалить свой профиль
%p
  Недовольны? #{button_to "Удалить", registration_path(resource_name), data: { confirm: "Точно?" }, method: :delete, class: 'btn btn-danger'}
%hr
= link_to "Назад", :back
