= "Привет, #{@user.first_name || 'участник Хакерспейса'}!"

Добро пожаловать в Хакерспейс!

Для вас создан аккаунт на сайте hackerspace.by, там вы можете найти полезную информацию для участников, а также заполнить свой профиль.

= "Ваш номер участника: #{@user.id}"
= "Логин на сайт: #{@user.email}"
= "Ваш пароль: #{@generated_password}"

= "Ваш тариф: #{@user.tariff.name}, #{@user.tariff.monthly_price} рублей в месяц."

Ссылка на телеграм-чат участников:
= Setting['tg_chat_link'] || 'https://t.me/HackerspaceMinsk'

