%h1 Банковские транзакции

= form_tag admin_bank_transactions_mass_update_path do
  = submit_tag "Сохранить изменения"
  %table.table
    %thead
      %tr
        %th Дата
        %th № документа
        %th Приход
        %th Расход
        %th УНП
        %th Наш счёт
        %th Счёт контрагента
        %th Контрагент
        %th Назначение
        %th Нерегулярный?
        %th Примечание
  
    %tbody
      - @bank_transactions.each do |bt|
        %tr
          %td= bt.created_at
          %td= bt.document_number
          %td= bt.plus
          %td= bt.minus
          %td= bt.unp
          %td= bt.our_account
          %td= bt.their_account
          %td= bt.contractor
          %td= bt.purpose
          %td
            = fields_for "bank_transactions[]", bt do |bf|
              = bf.check_box :irregular
          %td= bt.note
  = submit_tag "Сохранить изменения"

