%h1
  Банковские транзакции
  = "(расходы)" if @filter == BankTransaction::EXPENSES
  = "(поступления)" if @filter == BankTransaction::INPAYMENTS

= form_tag admin_bank_transactions_mass_update_path do
  = paginate @bank_transactions,
    theme: 'bootstrap-5',
    pagination_class: "pagination-sm justify-content-end"

  = submit_tag "Сохранить изменения"

  %table.table.table-condensed
    %thead
      %tr
        %th Дата
        %th № документа
        %th Приход
        %th Расход
        %th УНП
        %th Наш счёт
        %th Счёт контрагента
        %th Нерегулярный?

    %tbody
      - @bank_transactions.each do |bt|
        %tr
          %td{rowspan: 2}= bt.created_at
          %td= bt.document_number
          %td= bt.plus
          %td= bt.minus
          %td= bt.unp
          %td= bt.our_account
          %td= bt.their_account
          %td{rowspan: 2}
            = fields_for "bank_transactions[]", bt do |bf|
              = bf.check_box :irregular
        %tr
          %td{colspan: 4}= bt.contractor
          %td{colspan: 2}= bt.purpose
          %td= bt.note
  = submit_tag "Сохранить изменения"

= paginate @bank_transactions,
  theme: 'bootstrap-5',
  pagination_class: "pagination-sm justify-content-end"

