= form_for @user, :html => { :multipart => true } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} сохранить не получится:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group.mandatory
    = f.label 'Email'
    = f.text_field :email, class: 'form-control'
  -#.form-group{:class => 'mandatory'}
  -#  = f.label 'Краткое описание'
  -#  = f.text_area :badge_comment, rows: 5, class: 'form-control'
  .form-group
    = f.label 'Имя'
    = f.text_field :first_name, class: 'form-control'
    = f.label 'Фамилия'
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label 'Слоган'
    = f.text_area :hacker_comment, rows: 2, class: 'form-control'
  .form-group.mandatory
    = f.label 'Изображение, до 3 МБ'
    = f.file_field :photo

  .form-group
    = f.submit 'Сохранить', class: 'btn btn-default'
