.row
  .col-lg-6
    = form_for @user, :html => { :multipart => true } do |f|
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} сохранить не получится:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      .form-group.mandatory
        = f.label :email, 'Email'
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label :first_name, 'Имя'
        = f.text_field :first_name, class: 'form-control'
      .form-group
        = f.label :last_name, 'Фамилия'
        = f.text_field :last_name, class: 'form-control'
      .form-group
        = f.label :hacker_comment, 'Примечание'
        = f.text_area :hacker_comment, rows: 2, class: 'form-control'
      .form-group.mandatory
        = f.label :photo, 'Изображение, до 3 МБ'
        = f.file_field :photo

      .form-group
        = f.label 'Рекомендатели:'
        %br
        - users = User.select(:id, :first_name, :last_name).order(:id).all
        = f.collection_select :guarantor1_id, users, :id, :full_name_with_id, {include_blank: true}, class: 'form-select'
        = f.collection_select :guarantor2_id, users, :id, :full_name_with_id, {include_blank: true}, class: 'form-select'

      .form-group
        = f.label 'Никнейм в Telegram'
        = f.text_field :telegram_username, class: 'form-control', value: @user.telegram_username

      .form-group
        = f.label 'Приветствие для Алисы'
        = f.text_field :alice_greeting, class: 'form-control', value: @user.alice_greeting

      .form-group
        = f.label 'Никнейм в Github'
        = f.text_field :github_username, class: 'form-control', value: @user.github_username

      .form-group
        = f.label :tariff
        - unless current_user.admin?
          %br= "Изменение тарифа возможно 1 раз в #{Tariff::CHANGE_LIMIT_IN_DAYS} дней"
          - if current_user.able_to_change_tariff_now?
            Доступно
          - else
            Доступно после
            = current_user.tariff_changeble_date.strftime('%d/%m/%Y %H:%M')
        = f.collection_select :tariff_id, Tariff.available_by(current_user), :id, :name_with_price, {}, class: 'form-select', disabled: !current_user.able_to_change_tariff_now?

      - if current_user.admin?
        .form-group
          = f.check_box :is_learner, class: 'form-check-input', value: @user.is_learner
          = f.label 'Курсант'

        .form-group
          = f.label 'Проект'
          = f.select :project_id, Project.all.map{|p| [p.name, p.id]}, {include_blank: true}, class: 'form-select', value: @user.project_id

        .row
          .col-lg-3
            .form-group
              = f.label 'Banned'
              = f.check_box :account_banned, class: 'form-check-input', value: @user.account_banned

      .form-group
        = f.submit 'Сохранить', class: 'btn btn-primary'

-#MAC
%hr
.row
  .col-lg-6
    - unless @user.macs.empty?
      %h3 Мак адреса пользователя
      - @user.macs.each do |mac|
        .row
          .col-lg-4
            %p
              = mac.address
          .col-lg-1
            %p
              = link_to 'Удалить', remove_mac_user_path(@user, mac_id: mac.id), method: :delete, data: { confirm: 'Are you sure?' }
.row
  .col-lg-6
    = form_tag("/hackers/#{@user.id}/add_mac") do
      .form-group
        = text_field_tag(:mac, nil, class: 'form-control')
      .form-group
        = submit_tag('Добавить Mac адрес', class: 'btn btn-primary')

-#NFC
%hr
.row
  .col-lg-6
    - unless @user.nfc_keys.empty?
      %h3 NFC ключи пользователя
      - @user.nfc_keys.each do |nfc|
        .row.small
          .col-lg-4
            %p
              = nfc.body
          .col-lg-1
            %p
              = link_to 'Удалить', remove_nfc_user_path(@user, nfc: nfc.body), method: :delete
.row
  .col-lg-6
    = form_tag("/hackers/#{@user.id}/add_nfc") do
      .form-group
        = text_field_tag(:nfc, nil, class: 'form-control')
      .form-group
        = submit_tag('Добавить NFC ключ', class: 'btn btn-primary')

-# Public SSH Keys
%hr
.row
  .col-lg-6
    - if @user.public_ssh_keys.any?
      %h3 Public SSH ключи пользователя
      - @user.public_ssh_keys.each do |public_ssh_key|
        .row.small
          .col-lg-10
            %p{:title => public_ssh_key.body}
              = public_ssh_key.body[0..20] + "..." + public_ssh_key.body[-30..-1]
          .col-lg-1
            %p
              = link_to 'Удалить', user_public_ssh_key_path(@user, public_ssh_key), method: :delete, data: { confirm: 'Are you sure?' }
.row
  .col-lg-6
    = form_for [@user, @new_public_ssh_key] do |f|
      = f.hidden_field :user_id
      .form-group
        = f.text_area :body, class: 'form-control'
      .form-group
        = submit_tag('Добавить публичный SSH ключ', class: 'btn btn-primary')

-# WireGuard
%hr
.row#wg-configs
  .col-lg-6
    - unless @user.wg_configs.empty?
      %h3 Конфигурации WireGuard
      - @user.wg_configs.each do |wg|
        .row.small
          .col-lg-4
            %p
              = wg.name
          .col-lg-1
            %p
              = link_to 'Удалить', user_wg_config_path(@user, wg), method: :delete, data: { confirm: 'Вы уверены?' }

.row
  .col-lg-6
    = form_for [@user, @new_wg_config] do |f|
      = f.hidden_field :user_id
      .form-group
        = f.text_field :name, class: 'form-control'
      .form-group
        = submit_tag('Создать конфигурацию WireGuard', class: 'btn btn-primary')
