.row
  .col-lg-6
    = form_for @user, :html => { :multipart => true } do |f|
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} сохранить не получится:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      .form-group.mandatory
        = f.label 'Email'
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label 'Имя'
        = f.text_field :first_name, class: 'form-control'
        = f.label 'Фамилия'
        = f.text_field :last_name, class: 'form-control'
      .form-group
        = f.label 'Примечание'
        = f.text_area :hacker_comment, rows: 2, class: 'form-control'
      .form-group.mandatory
        = f.label 'Изображение, до 3 МБ'
        = f.file_field :photo

      .form-group
        = f.label 'Рекомендатели:'
        %br
        = f.collection_select :guarantor1_id, User.order(:last_name).all, :id, :full_name_with_id, include_blank: true
        %br
        = f.collection_select :guarantor2_id, User.order(:last_name).all, :id, :full_name_with_id, include_blank: true

      .form-group
        = f.label 'Никнейм в Telegram'
        = f.text_field :telegram_username, class: 'form-control', value: @user.telegram_username

      .form-group
        = f.label 'Приветствие для Алисы'
        = f.text_field :alice_greeting, class: 'form-control', value: @user.alice_greeting

      .form-group
        = f.label 'Никнейм в Github'
        = f.text_field :github_username, class: 'form-control', value: @user.github_username

      .form-group
        = f.label 'Публичный ключ ssh'
        = f.text_area :ssh_public_key, class: 'form-control', value: @user.ssh_public_key

      - if current_user.admin?
        .form-group
          = f.label 'Курсант'
          = f.check_box :is_learner, class: 'form-control', value: @user.is_learner

        .form-group
          = f.label 'Проект'
          = f.select :project_id, Project.all.map{|p| [p.name, p.id]}, {include_blank: true}, class: 'form-control', value: @user.project_id

        .form-group
          = f.label :monthly_payment_amount
          = f.text_field :monthly_payment_amount, class: 'form-control'

        .row
          .col-lg-3
            .form-group
              = f.label 'Banned'
              = f.check_box :account_banned, class: 'form-control', value: @user.account_banned

      .form-group
        = f.submit 'Сохранить', class: 'btn btn-default'
%hr
.row
  .col-lg-6
    - unless @user.macs.empty?
      %h3 Мак адреса пользователя
      - @user.macs.each do |mac|
        .row
          .col-lg-4
            %p
              = mac.address
          .col-lg-1
            %p
              = link_to 'Удалить', remove_mac_user_path(@user, mac: mac.id), method: :delete
.row
  .col-lg-6
    = form_tag("/hackers/#{@user.id}/add_mac") do
      .form-group
        = text_field_tag(:mac, nil, class: 'form-control')
      .form-group
        = submit_tag('Добавить Mac адрес', class: 'btn btn-default')
