%table.table
  %thead
    %th
    %th Номер
    %th= t('users.email')
    %th= t('users.first_name')
    %th= t('users.comment')
    %th= t('users.last_payment_ended_at')
    %th Тариф
    %th BYN/мес.
    %th= t('users.telegram_username')
    %th
    %th
  %tbody
    - hackers.each do |hacker|
      %tr{class: row_class(hacker)}
        = render 'hacker', hacker: hacker
