%table.table
  %thead
    %th
      = t('.date')
    %th
      = t('.amount')
    %th
      = t('.start_date')
    %th
      = t('.end_date')
  %tbody
    - payments.each do |payment|
      %tr
        %td
          = payment.paid_at
        %td
          = payment.amount
        %td
          = payment.start_date
        %td
          = payment.end_date

