.row.links
  .col-md-8
    = link_to 'Назад к списку', users_path, class: 'btn btn-default'
    - if can?(:edit, @user)
      = link_to 'Редактировать', edit_user_path(@user), class: 'btn btn-default'

.row.user
  .col-md-4
    = image_tag @user.avatar_url(:medium)
    %p
      = @user.hacker_comment
    %p.last-login
      Последний логин
      = @user.last_sign_in_at
  .col-md-8
    %p
      %strong Email:
      = @user.email
    %p
      %strong Номер участника:
      = @user.id
    - if @user.first_name.present?
      %p
        %strong Имя:
        = @user.first_name
    - if @user.last_name.present?
      %p
        %strong Фамилия:
        = @user.last_name
    - if @user.telegram_username.present?
      %p
        %strong Telegram:
        %a{href: 'https://t.me/' + @user.telegram_username, target: '_blank'}
          = @user.telegram_username
    - if @user.github_username.present?
      %p
        %strong Github:
        %a{href: 'https://github.com/' + @user.github_username, target: '_blank'}
          = @user.github_username

= render 'projects', projects: @user.projects

= render 'payments', payments: @user.payments.order(paid_at: :desc)

-if @user.ssh_public_key.present?
  .row.additional_info
    .col-md-8
      %h4 SSH public key:
      .ssh-public-key= @user.ssh_public_key
