%h1= @user.email


.container

  = image_tag @user.photo.url(:medium)
  %p
    = @user.hacker_comment
  %p
    последний логин
    = @user.last_sign_in_at
  - if @user.projects.any?
    %h3 Проекты
    - @user.projects.each do |project|
      %ul
        %li
          = link_to project.name, project_path(project)

%hr

= link_to 'Назад к списку ', users_path, class: 'btn btn-info btn-sm'