%h1
  = "#{@user.email} (#{@user.first_name} #{@user.last_name})"


.container

  = image_tag @user.photo.url(:medium)
  %p
    = @user.hacker_comment
  %p
    Последний логин
    = @user.last_sign_in_at

  %h3 Платежи
  = render partial: 'payments', locals: {payments: @user.payments}

  - if @user.projects.any?
    %h3 Проекты
    - @user.projects.each do |project|
      %ul
        %li
          = link_to project.name, project_path(project)

%hr

= link_to 'Назад к списку ', users_path, class: 'btn btn-info btn-sm'
