%h1
  = @device.name

%table.table
  %thead
    %th
      = t ".type"
    %th
      = t ".value"
    %th
      = t ".time"
    %th
      = t ".last_time"
  %tbody
    - @events.first(100).each do |event|
      %tr
        %td
          = event.event_type
        %td
          = event.value
        %td
          = event.created_at.to_s
        %td
          = event.updated_at.to_s

= link_to 'Назад', devices_path, class: 'btn btn-default'
