%h1 Listing erip_transactions

%table.table
  %thead
    %tr
      %th Personal number
      -#%th Status
      %th Message
      -#%th Type
      -#%th Uid
      -#%th Order
      %th Amount
      -#%th Currency
      %th Paid at
      %th Test
      %th Payment method
      %th Name
      %th Email
      -#%th Payment ID
      -#%th ERIP service
      %th

  %tbody
    - @erip_transactions.each do |erip_transaction|
      %tr
        %td= erip_transaction.tracking_id
        -#%td= erip_transaction.status
        %td= erip_transaction.message
        -#%td= erip_transaction.transaction_type
        -#%td= erip_transaction.uid[0..7] + '...'
        -#%td= erip_transaction.order_id
        %td= erip_transaction.amount
        -#%td= erip_transaction.currency

        %td= erip_transaction.paid_at.to_formatted_s(:short)
        %td= erip_transaction.test
        %td= erip_transaction.payment_method_type
        %td= "#{erip_transaction.billing_address['first_name']} #{erip_transaction.billing_address['last_name']}" unless erip_transaction.billing_address.nil?
        %td= erip_transaction.customer['email'] unless erip_transaction.customer.nil?
        %td= link_to 'Show', admin_erip_transaction_path(erip_transaction)

= will_paginate @erip_transaction
%br

-#= link_to 'New Erip transaction', new_admin_erip_transaction_path
