%h1 Новости

- @news.each do |news|
  .row.mb-4
    .col-lg-3
      - if news.photo.attached?
        = link_to image_tag(rails_storage_redirect_path(news.photo.variant(:thumb)), class: 'mx-auto d-block'), news_path(news)
      - else
        = link_to image_tag(image_url('/images/default.png'), class: 'mx-auto d-block'), news_path(news)
    .col-lg-9
      %h2
        = link_to news.title, news_path(news)
      %p
        %small
          %i= I18n.l(news.created_at, format: :long)
        %br
        = news.short_desc.html_safe
        %br
        %a{href: news_path(news)} Читать дальше &raquo;

.row
  .col-lg-12
    - if user_signed_in?
      = link_to 'Добавить новость', new_news_path, class: 'btn btn-info'
