%h1
  = @news.title

.row
  .col-lg-3
    =image_tag @news.photo.url(:thumb)
  .col-lg-9
    .lead
      = markup2html @news.short_desc, @news.markup_type

%hr
.lead
  = markup2html @news.description, @news.markup_type

-if (user_signed_in? and can?(:update, @news)) or (user_signed_in? and @news.public? )
  = link_to 'Изменить', edit_news_path(@news), class: 'btn btn-info'

= link_to 'Назад', news_index_path, class: 'btn btn-default'

%br.bottom_margin
