%h1
  = @news.title

.row
  .col-lg-12
    - if @news.photo.attached?
      = image_tag(@news.photo.variant(resize_to_limit: [200, 200]), class: 'float-start news img-fluid')
    - else
      = image_tag(image_url('/images/default.png'), class: 'float-start news img-fluid')

    %i= I18n.l(@news.created_at, format: :long)
    = markup2html @news.description, @news.markup_type

.row
  .d-grid.gap-2.d-md-flex.justify-content-md-end
    = link_to 'Назад', news_index_path, class: 'btn btn-primary'
    -if (user_signed_in? and can?(:update, @news)) or (user_signed_in? and @news.public? )
      = link_to 'Изменить', edit_news_path(@news), class: 'btn btn-secondary'
