= form_for @project, :html => { :multipart => true } do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} сохранить не получится:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .form-group{:class => 'mandatory'}
    = f.label 'Название'
    = f.text_field :name, class: 'form-control'
  .form-group{:class => 'mandatory'}
    = f.label 'Краткое описание'
    = f.text_area :short_desc, rows: 5, class: 'form-control'
  .form-group
    = f.label 'Полное описание'
    = f.text_area :full_desc, rows: 15, class: 'form-control'
  .form-group{:class => 'mandatory'}
    = f.label 'Изображение, до 3 МБ'
    = f.file_field :photo

  .form-group
    = f.submit 'Сохранить', class: 'btn btn-default'
