%p#notice= notice

%h1
  = @project.name
%p.lead
  = @project.short_desc
%hr
  =image_tag @project.photo.url(:original), class: 'center-block'
%hr
%p.lead
  = @project.full_desc

-if user_signed_in?
  = link_to 'Изменить', edit_project_path(@project), class: 'btn btn-info'

= link_to 'Назад', projects_path, class: 'btn btn-default'
