%h1
  = @project.name_with_id
%h3
  = "Статус: #{@project.project_status}"
%h3
  = "Собрано денег: #{@project.payments_sum} BYN"
.lead
  = markup2html @project.short_desc, @project.markup_type
%hr
  =image_tag @project.photo.url(:original), class: 'center-block'
%hr
.lead
  = markup2html @project.full_desc, @project.markup_type

-if user_signed_in? && (@project.user == current_user or @project.public)
  = link_to 'Изменить', edit_project_path(@project), class: 'btn btn-info'

= link_to 'Назад', projects_path, class: 'btn btn-default'

%br.bottom_margin


#disqus_thread
:javascript
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'hackerspaceby'; // Required - Replace '' with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
%noscript
  Please enable JavaScript to view the
  %a{:href => "https://disqus.com/?ref_noscript"} comments powered by Disqus.
