%h1
  = @project.name
.lead
  = markup2html @project.short_desc, @project.markup_type
%hr
  =image_tag @project.photo.url(:original), class: 'center-block'
%hr
.lead
  = markup2html @project.full_desc, @project.markup_type

-if user_signed_in? && (@project.user == current_user or @project.public)
  = link_to 'Изменить', edit_project_path(@project), class: 'btn btn-info'

= link_to 'Назад', projects_path, class: 'btn btn-default'
