%h1 Listing Tariffs

%table.table
  %thead
    %tr
      %th Ref name
      %th Name
      %th Description
      %th Access allowed
      %th Accessible to user
      %th Monthly price
      %th
      %th
      %th

  %tbody
    - @tariffs.each do |tariff|
      %tr
        %td= tariff.ref_name
        %td= tariff.name
        %td= tariff.description
        %td= tariff.access_allowed ? '✅' : '❌'
        %td= tariff.accessible_to_user ? '✅' : '❌'
        %td= tariff.monthly_price
        %td= link_to 'Show', admin_tariff_path(tariff)
        %td= link_to 'Edit', edit_admin_tariff_path(tariff)
        %td= link_to 'Destroy', admin_tariff_path(tariff), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Tariff', new_admin_tariff_path
