%p#notice= notice

%p
  %b Ref name:
  = @tariff.ref_name
%p
  %b Name:
  = @tariff.name
%p
  %b Description:
  = @tariff.description
%p
  %b Access allowed:
  = @tariff.access_allowed
%p
  %b Monthly price:
  = @tariff.monthly_price

= link_to 'Edit', edit_admin_tariff_path(@tariff)
\|
= link_to 'Back', admin_tariffs_path
