= form_for [:admin, @user], html: { multipart: true } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} сохранить не получится:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group.mandatory
    = f.label :monthly_payment_amount
    = f.text_field :monthly_payment_amount, class: 'form-control'
  .form-group
    = f.label :next_month_payment_amount
    = f.text_field :next_month_payment_amount, class: 'form-control'
  .form-group
    = f.label :current_debt
    = f.text_field :current_debt, class: 'form-control'

  .form-group
    = f.submit 'Сохранить', class: 'btn btn-default'
