%h1
  = t(".title")

.container
  %table.table
    %thead
      %th
      %th
        = t ".email"
      %th
        = t ".roles"
      %th
        = t('.last_payment')
      %th
        = t('.last_payment_at')
      %th
        = t('.last_sign_in_at')
    %tbody
      - @users.each do |hacker|
        %tr
          %td
            = image_tag hacker.photo.url(:thumb)
          %td
            %b
              = "#{hacker.id}. #{hacker.first_name} #{hacker.last_name}"

              %br
              = hacker.email
          %td
            = hacker.roles.map {|r| r.name}.join(',')
          %td
            = hacker.last_payment.amount if hacker.last_payment
          %td
            = hacker.last_payment.paid_at if hacker.last_payment
          %td
            = hacker.last_sign_in_at
          %td
            - if can?(:edit, hacker)
              = link_to image_tag('edit_gear_icon.png', class: 'no-shadow'), edit_admin_user_path(hacker)
