:plain
  Привет, #{@user&.first_name || 'участник Хакерспейса'}!

  К сожалению, срок действия твоего членского взноса истёк.
- if @user&.tariff.access_allowed
  Брамник огорчён и больше не будет тебя пускать.
  = ""

:plain
  Чтобы снова стать активным участником, нужно внести членский взнос размером не менее,
  чем за две недели. Это составляет #{(@user.monthly_payment_amount * 14 / 30).ceil(2)} рублей.

  Приходи к нам чаще. Твой месячный тариф: #{@user.monthly_payment_amount} рублей.

  Номер членского билета для платежа в ЕРИП: #{@user.id}.

  Команда хакерспейса.
