= "Привет, #{@user&.first_name || 'участник Хакерспейса'}!"
= "#{@user.paid_until} истек срок действия твоих членских взносов в Хакерспейсе. Просим внести оплату в размере #{@user.expected_payment_amount} рублей. Номер членского билета для платежа в ЕРИП: #{@user.id}."
