= "Привет, #{@user&.first_name || 'участник Хакерспейса'}!"

= "У нас подходит срок оплаты аренды и коммунальных, поэтому твой взнос нам очень поможет. Срок твоей оплаты закончился #{@user.paid_until}. Если ты оплатишь взнос сегодня-завтра, мы будем тебе безмерно благодарны. Приходи к нам чаще."
= "Предполагаемый размер взноса: #{@user.expected_payment_amount} рублей. Номер членского билета для платежа в ЕРИП: #{@user.id}."

Команда хакерспейса.
