%nav.navbar.navbar-expand-lg.navbar-dark.sticky-top.bg-dark.mb-3.py-1{role: 'navigation'}
  .container-fluid

    %a.navbar-brand#brand{href: root_path}
      = image_tag '/images/logo_site.svg', height: '70px', class: "mb hsopen-#{@hs_open_status}", title: t("hsopen.#{@hs_open_status}").to_s
    %button.navbar-toggler{"data-bs-target" => "#navbar", "data-bs-toggle" => "collapse", type: "button", onclick: "$('#brand').fadeToggle();"}
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbar
      %ul.navbar-nav.me-auto
        %li.nav-item
          = link_to 'Проекты', projects_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Новости', news_index_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Контакты', contacts_path, class: 'nav-link'
        - if Thank.any?
          %li.nav-item
            = link_to 'Благодарности', thanks_path, class: 'nav-link'

        %li.dropdown.nav-item
          %a{class:"dropdown-toggle nav-link", 'data-bs-toggle': "dropdown", href: "#"}
            Присоединиться
          %ul.dropdown-menu
            %li.nav-item
              = link_to 'Наши короткие правила', rules_path, class: 'dropdown-item'
            %li.nav-item
              = link_to 'Тарифы', tariffs_path, class: 'dropdown-item'
            %li.nav-item
              = link_to 'Как оплатить', howtopay_path, class: 'dropdown-item'
            %li.nav-item
              = link_to 'Как присоединиться', procedure_path, class: 'dropdown-item'
            %li.nav-item
              = link_to 'Время работы', calendar_path, class: 'dropdown-item'
            %li.nav-item
              = link_to 'Совет хакерспейса', board_path, class: 'dropdown-item'

        - if user_signed_in?
          %li.dropdown.nav-item
            %a{class:"dropdown-toggle nav-link", 'data-bs-toggle': "dropdown", href: "#"}
              Хакерам
            %ul.dropdown-menu
              %li.nav-item
                = link_to 'Устройства', devices_path, class: 'dropdown-item'
              %li.nav-item
                = link_to 'Список участников', users_path, class: 'dropdown-item'
              %li.nav-item
                = link_to 'Полезная информация', wiki_gateway_path, class: 'dropdown-item'
              %li.nav-item
                = link_to t('cabinet.title'), edit_user_path(current_user), class: 'dropdown-item'
              - if current_user.admin?
                %li.nav-item
                  = link_to 'Админка', admin_dashboard_index_path, class: 'dropdown-item'

      %ul.navbar-nav
        %li.nav-item
          -if user_signed_in?
            %a.nav-link{href: chart_path}
              %span.navbar-collapsible
                Баланс:
                %b
                  = @hs_balance
              %meter{value:@hs_kitty_number, min:0, max:100, low:25, high:75, optimum:100}
                (#{@hs_kitty_number}%)
        %li.nav-item
          -if user_signed_in?
            = link_to 'Выход', destroy_user_session_path, method: :delete, class: 'nav-link'
          -else
            %a.nav-link{href: new_user_session_path} Вход
