!!!
%html
  %head
    %title= page_title
    %meta{name: :description, content: 'Минский хакерспейс, DIY community, 3D принтер, ЧПУ фрезер, паяльная станция, Минск, проекты, сделай сам, arduino'}
    %meta{name: :keywords, content: 'Хакерспейс, DIY community, 3D принтер, ЧПУ фрезер, паяльная станция, Минск, проекты, сделай сам, arduino'}
    %meta{ charset: "utf-8" }
    = render partial: 'layouts/og_meta_tags'
    = render partial: 'layouts/gplus_meta_tags'
    = render partial: 'layouts/vk_meta_tags'
    = render partial: 'layouts/geo_meta_tags'
    = render partial: 'layouts/icons'
    = csrf_meta_tags
    = render partial: 'shared/google_analytics' unless Rails.env.development?
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false'
  %body
    = render 'layouts/navigation'

    .container
      -if notice.present?
        %br
        .alert.alert-success.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
          %p.notice #{notice}
      -if alert.present?
        %br
        .alert.alert-danger.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
          %p.alert #{alert}
      = yield

    = render 'layouts/footer'
