!!!
%html
  %head
    %title= page_title
    %meta{name: :description, content: 'Минский хакерспейс, DIY community, 3D принтер, ЧПУ фрезер, паяльная станция, Минск, проекты, сделай сам, arduino'}
    %meta{name: :keywords, content: 'Хакерспейс, DIY community, 3D принтер, ЧПУ фрезер, паяльная станция, Минск, проекты, сделай сам, arduino'}
    %meta{ charset: "utf-8" }
    = render partial: 'layouts/og_meta_tags'
    = csrf_meta_tags
    = render partial: 'shared/google_analytics' unless Rails.env.development?
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand#brand{href: root_path}
            = image_tag 'default.png', height: '70px', class: "hsopen-#{@hs_open_status}", title: t("hsopen.#{@hs_open_status}").to_s
        .collapse.navbar-collapse#navbar
          %ul.nav.navbar-nav.lead
            %li
              = link_to 'Главная', root_path
            %li
              = link_to 'Проекты', projects_path
            %li
              = link_to 'Календарь', calendar_path
            %li
              %a{href: 'https://www.facebook.com/hs.minsk/photos_stream?tab=photos_albums', target: '_blank'} Фотографии
            %li
              = link_to 'Новости', news_index_path
            %li
              = link_to 'Контакты', contacts_path

            - if user_signed_in?
              %li
                =link_to 'Устройства', devices_path
          %ul.nav.navbar-nav.navbar-right.lead
            %li
              -if user_signed_in?
                = link_to 'Выход', destroy_user_session_path, method: :delete
              -else
                %a{href: new_user_session_path} Вход

    .container
      -if notice.present?
        %br
        .alert.alert-success.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
          %p.notice #{notice}
      -if alert.present?
        %br
        .alert.alert-danger.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
          %p.alert #{alert}
      = yield
    .container
      .footer
        %p
          ПО "Мастерская инновационно-технического творчества" ОО БОИР
          %br
          220005, г. Минск, ул. Смолячкова, 14А-2
          %br
          УНП 102386174
          %br
          Зарегистрировано в ЕГР решением администрации Советского района г. Минска №189 от 3.03.2016.

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
