!!!
%html
  %head
    %title Открытая лаборатория технического творчества
    %meta{name: :description, content: 'Минский хакерспейс, DIY community, 3D принтер, ЧПУ фрезер, паяльная станция, Минск, проекты, сделай сам, arduino'}
    %meta{name: :keywords, content: 'Хакерспейс, DIY community, 3D принтер, ЧПУ фрезер, паяльная станция, Минск, проекты, сделай сам, arduino'}
    = csrf_meta_tags
    = render partial: 'shared/google_analytics' unless Rails.env.development?
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand#brand{href: root_path}
            =image_tag 'default.png', height: '70px'
        .collapse.navbar-collapse#navbar
          %ul.nav.navbar-nav.lead
            %li
              =link_to 'Контакты', root_path(anchor: "contacts")
            %li
              %a{href: projects_path} Проекты
            %li
              %a{href: calendar_path} Календарь
            %li
              %a{href: 'https://plus.google.com/u/1/photos/109946625182505223750/albums/6015673149177041057', target: '_blank'} Фотографии

          %ul.nav.navbar-nav.navbar-right.lead
            %li
              -if user_signed_in?
                = link_to 'Выход', destroy_user_session_path, method: :delete
              -else
                %a{href: new_user_session_path} Вход

    .container
      -if notice.present?
        %br
        .alert.alert-success.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
          %p.notice #{notice}
      -if alert.present?
        %br
        .alert.alert-danger.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
          %p.alert #{alert}
      = yield
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
